body,
html {
	height: 100%;
}
section:nth-child(even) {
	background-color: #ddd;
}
section {
	width: 100%;
	min-height: 100%;
	padding-top: 75px;
}
.display-1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}
.display-5 {
	padding-top: 175px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}
.imageHeading {
	position: relative;
	text-align: center;
	color: white;
}
img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
