/* texts */

.info {
	font-family: 'Bungee Shade', cursive;
	font-size: 80px;
	text-align: center;
}
.date {
	font-family: 'Sacramento', cursive;
	font-size: 40px;
	text-align: center;
}
.time {
	font-family: 'Sacramento', cursive;
	font-size: 40px;
	text-align: center;
}
.address {
	font-family: 'Sacramento', cursive;
	font-size: 40px;
	text-align: center;
	color: black;
}
a:link {
	color: black;
	text-decoration: none;
}
a:visited {
	color: black;
	text-decoration: none;
}
.reply {
	font-family: 'Sacramento', cursive;
	font-size: 40px;
	text-align: center;
}
.ps {
	font-family: 'Sacramento', cursive;
	font-size: 35px;
	text-align: center;
}
.thanks {
	font-family: 'Sacramento', cursive;
	font-size: 35px;
	text-align: center;
}

/* list */
ul {
	list-style-type: none;
}

/* background color */

body {
	background: #a27bcc;
	.: -moz-radial-gradient(center, ellipse cover, #a27bcc 0%, #6c5299 100%);
	background: -webkit-gradient(
		radial,
		center center,
		0px,
		center center,
		100%,
		color-stop(0%, #a27bcc),
		color-stop(100%, #6c5299)
	);
	background: -webkit-radial-gradient(center, ellipse cover, #a27bcc 0%, #6c5299 100%);
	background: -o-radial-gradient(center, ellipse cover, #a27bcc 0%, #6c5299 100%);
	background: -ms-radial-gradient(center, ellipse cover, #a27bcc 0%, #6c5299 100%);
	background: radial-gradient(ellipse at center, #a27bcc 0%, #6c5299 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a27bcc', endColorstr='#6c5299', GradientType=1);
}

/* ballons */
body {
	margin: 0;
	text-align: center;
}

#balloon-container {
	height: 100vh;
	padding: 1em;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	text-align: center;
}

.balloon {
	height: 125px;
	width: 105px;
	border-radius: 75% 75% 70% 70%;
	position: relative;
}

.balloon:before {
	content: "";
	height: 75px;
	width: 1px;
	padding: 1px;
	background-color: #fdfd96;
	display: block;
	position: absolute;
	top: 125px;
	left: 0;
	right: 0;
	margin: auto;
}

.balloon:after {
	content: "▲";
	text-align: center;
	display: block;
	position: absolute;
	color: inherit;
	top: 120px;
	left: 0;
	right: 0;
	margin: auto;
}

@keyframes float {
	from {
		transform: translateY(100vh);
		opacity: 1;
	}
	to {
		transform: translateY(-300vh);
		opacity: 0;
	}
}
